.folders {
  background-color: #1c2c1f;

  text-align: center;
}
ion-card-subtitle {
  color: #e0f2ff;
  font-size: large  ;
}
p {
  margin: 2px; 
  font-size: 14px;
}

.create_element_buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}
.create_element_button {
  padding-bottom: 10px;
  padding-right: 10px;
}
.side_information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list_of_files {
  display: flexbox;
  flex-direction: row;
}

.notes {
  background-color: #e0f2ff;
  color: #1c2c1f;
}
.notes ion-card-title {
  color: #1c2c1f;
}