.folders {
  background-color: #1c2c1f;

  text-align: center;
}
ion-card-subtitle {
  color: #e0f2ff;
  font-size: large  ;
}
p {
  margin: 2px; 
  font-size: 14px;
}

.folder_icon {
  font-size: xxx-large;
  color: #4b674a;
}
.create_element_buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}
.create_element_button {
  padding-bottom: 10px;
  padding-right: 10px;
}
.side_information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.notes {
  background-color: #e0f2ff;
  color: #1c2c1f;
  height: 22vh;
}
.notes ion-card-header {padding-bottom: 5px;}
.note_content {
  height: 45%;
  overflow: hidden;

  text-align: center;
}
.notes ion-card-title {
  color: #1c2c1f;
}